files:
    "/etc/cron.hourly/cron.logcleanup.elasticbeanstalk.healthd.nginx.conf":
        mode: "000755"
        owner: root
        group: root
        content: |
            "#!/bin/sh"
            find /var/log/nginx/healthd -type f | grep -v application.log.`date -u +"%Y-%m-%d-%H"` | xargs rm -f
    "/home/ec2-user/setup-healthd-appstat.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            "#!/bin/bash"

            # instance must mirror the inside of the container for aws logs to work ok
            sudo mkdir -p /var/log/nginx/healthd
            sudo chmod 777 /var/log/nginx/healthd
            sudo chown -R nginx:nginx /var/log/nginx

            # restart healthd service
            sudo systemctl restart healthd
            sudo systemctl enable healthd

container_commands:
    01-healthd-configure:
        command: /home/ec2-user/setup-healthd-appstat.sh
